* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: red;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 0 2rem;
  height: 10vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
